<div class="message-box-banner">
    Ma-séance
</div>
<h1>Bonjour
    <%= @user.full_name %>,
</h1>
<p> Un membre de Ma-séance vous a laissé un message.</p>
<%=link_to " voir le message ", doctor_message_box_url(token: @token, room: @room) %>
    <p>à bientôt</p>