<div class="message-box-banner">
    Ma-séance
</div>
<h1>Bonjour
    <%= @user.full_name %>,
</h1>
<p> Un membre de Ma-séance vousà laisser unn message.
    <%=l ink_to " voir le message ", doctor_message_box_url(token: @token, room: @room) %>
        à bientôt
</p>