.chat {
    background-color: $red;
    padding: 24px;
    width: 80%;
    border-radius: 5px;
}

#messages {
    height: 400px;
    overflow-y: scroll;
}

.message-container {
    background-color: $red-light;
    border-radius: 8px;
    padding-left: 16px;
}

.right {
    align-self: end;
}

.dashboard {
    margin-top: 200px;
    background-color: $red-light;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channels {
    background-color: lightgray;
    height: 100%;
    border-radius: 5px;
}

.channel {
    background-color: $purple-light;
    color: white;
    padding-left: 16px;
    padding-top: 8px;
    border-radius: 5px;
    height: 40px;
    margin: 4px;
    &:hover {
        color: white;
        text-decoration: none;
        box-shadow: 0 5px 10px $red;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    // color: #333;
    opacity: 0.8;
    color: black;
    border-bottom: 4px solid transparent;
    background-color: rgba(122, 122, 122, 0);
    border-bottom: 1px solid #555555;
}

.nav-pills .nav-link {
    text-transform: capitalize;
    background-color: rgba(122, 122, 122, 0);
    // color: rgb(122, 122, 122);
    transition: opacity 0.5s ease;
    opacity: 0.6;
    color: black;
    &:hover,
    &:focus {
        // color: #333;
        opacity: 1;
        color: black;
    }
}