            // Specific CSS for your home-page
            .ia2000-card {
                display: flex;
                justify-content: center;
                .ia2000-card-contenu {
                    padding: 30px 72px;
                    background-color: $red-bg;
                    border-radius: 4px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
                    width: 50%;
                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 24px;
                        font-weight: regular;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        padding-bottom: 8px;
                        margin-bottom: 16px;

                    }
                    .ia2000-card-contenu-texte {
                        font-family: 'Montserrat', sans-serif;
                        .txt1 {
                            font-size: 20px;

                            font-weight: regular;
                            margin-bottom: 4px;
                            text-align: justify;
                            text-justify: inter-word;
                        }

                        .txt2 {
                            margin-top: 8px;
                            font-size: 24px;

                            font-weight: regular;
                            margin-bottom: 8px;
                            text-align: justify;
                            text-justify: inter-word;

                        }

                    }
                    .ia2000-card-contenu-link {
                            margin-top: 8px;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            p {
                                margin-top: 8px;

                                font-size: 20px;
                                font-weight: regular;
                                margin-bottom: 16px;
                                text-align: justify;
                                text-justify: inter-word;
                                // box-shadow: 5px 5px 55px rgba(255, 255, 255, 0.8);
                                // border-radius: 5%;

                                // padding-right: 32px;
                                // padding-left: 8px;
                            }
                            a {

                                // padding: 12px 45px;
                                text-align: center;
                                // text-decoration: none;

                            }
                    }

                }
            }

            .wave #wave-content {
                width: 100%;
                background-color: $red;
                margin-bottom: 0em;
            }

            .wave {
                background-color: $red-light;
            }

            .top-field {
                background-color: $red-light;
            }
