.show-container{
  width: 100%;
  padding-left: 50px;
}

.show-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-user {
  width: 700px;
  padding-top: 100px;
}

.doc-avatar {
  background-color: $purple-light;
  height: 100vh;
  z-index: 0;
  width: 500px;
  padding: 30px;
  text-align: center;
  vertical-align: middle;
  & img {
    border: solid 20px;
    border-radius: 50%;
    border-color: $red;
  }
}

.info-user-right {
  padding-top: 50px;
  text-align: left;

}

ul {
  list-style-type: none;
}
