


.show-container{
  width: 100%;
  background-color: $red-light;
  display: flex;
  flex-direction: row;

  .toubib {
    margin: 20px;
    background-color: $red-light;
    flex-grow: 2;

    i {
     font-size: 24px;
     //line-height: 1.7;
     padding-right: 15px;
    }

    .toubib-img {
      display: flex;
      flex-direction: row;
      background-color: white;
      border-radius: 7px;
      box-shadow: 0px 2px 9px rgba(0,0,0,0.1);
      padding: 25px 15px;

      .toubib-img-left {
        img {
          border-radius: 7px;
        }

      }
      .toubib-img-right {
        padding-left: 70px;
        display: flex;
        flex-direction: column;

        .toubib-img-right-title {
          display: flex;
          flex-direction: row;
        }

        .splitter {
          height: 1px;
          width: 100px;
          background-color: rgba(0,0,0,0.5);
          margin: 15px;
        }
        .toubib-img-right-description {
           display: flex;
          flex-direction: row;





          .toubib-img-right-description-pro{
            width: 50%;
            display: flex;
            flex-direction: column;

            .toubib-img-right-description-title {
              display: flex;
              flex-direction: row;
              padding-bottom: 10px;

              .fa-address-card{
                color: rgba(0,0,0,0.5);
                font-size: 17px;
              }

              h4 {
                color: rgba(0,0,0,0.5);
                font-weight: lighter;
                font-size: 18px;
              }
            }

          p {
            color: rgba(0,0,0,0.5);
            font-weight: lighter;
            font-size: 14px;
            //line-height: 1.3;
            }

          }

          .toubib-img-right-descritpion-address {
            width: 50%;
            padding-left: 70px;

            .toubib-img-right-descritpion-address-title {
              display: flex;
              flex-direction: row;
              padding-bottom: 10px;

              .fa-map-marker {
                color: rgba(0,0,0,0.5);
                font-size: 17px;
              }

              h4 {
                color: rgba(0,0,0,0.5);
                font-weight: lighter;
                font-size: 18px;
              }
            }

            p {
              color: rgba(0,0,0,0.5);
              font-weight: lighter;
              font-size: 14px;
              margin-bottom: 0px;

            }
          }


        }
      }
    }
    .toubib-job{
      padding: 25px 15px;

       .toubib-job-title{
        display: flex;
        flex-direction: row;
       }

      .toubib-job-card {
        padding: 25px 15px;
        background-color: white;
        border-radius: 7px;

        ul {
          list-style-type: none;
        }
      }


    }
    .toubib-map{
      padding: 25px 15px;

      .toubib-map-title {
        display: flex;
        flex-direction: row;
      }
      .toubib-map-card {
        padding: 25px 15px;
        background-color: white;
        border-radius: 7px;

        .toubib-map-card-map{
          padding: 15px 15px;

          #map{
            width: 100px;
            height: 100px;

          }

        }

      }
    }
  }

  .action-toubib {
    margin: 20px;
    background-color: white;
    flex-grow: 1;
    border-radius: 7px;
    box-shadow: 0px 2px 9px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 25px 15px;



    .action-toubib-titre{
      text-align: center;

      h4 {
        color: rgba(0,0,0,1);
        font-weight: lighter;
        font-size: 18px;
      }
    }
    .splitter {
      height: 1px;
      width: 100px;
      background-color: rgba(0,0,0,0.5);
      margin: 15px auto;
      padding: 0px 15px;

    }
    .action-toubib-option{
      padding: 15px 15px;

      .action-toubib-option-mail{
          display: flex;
          flex-direction: row;

        .action-toubib-option-mail-icone{
          height: 50px;
          width: 50px;
          border-radius:50%;
          background-color: white;
          color: $red;
          box-shadow: 0px 2px 9px rgba(0,0,0,0.1);
          text-align: center;
          padding-top: 10px;

          .fa-envelope {
            font-size: 28px;
          }
        }

        .action-toubib-option-mail-txt {
          padding-left:20px;
          padding-top: 14px;
        }

      }
    }
  }


}


 .svg-a-decaller-vers-le-haut-putain {
  margin-top: -180px;
 }
