#typeform {
  width: 80vw;
  height: 100vh;
  margin: 50px auto;
  padding: 50px;
}

.hidden {
  display: none;
}
.loader {
  margin-top: 150px;
  margin-bottom: 1000px;
  text-align: center;
  color: $purple-medium;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}


.lds-heart:nth-of-type(2) div {
  animation-delay: 100ms;
  background: $red-medium-2;
}

.lds-heart:nth-of-type(2) div:after,
.lds-heart:nth-of-type(2) div:before {
  background: $red-medium-2;
}

.lds-heart:nth-of-type(3) div {
  animation-delay: 200ms;
  background: $red-medium;
}

.lds-heart:nth-of-type(3) div:after,
.lds-heart:nth-of-type(3) div:before {
  background: $red-medium;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: $red-medium-2;
  animation: lds-heart 1.1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: $red-medium-2;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
