<% if @channels.present? %>
    <nav class="nav flex-column channels">
        <% @channels.each do |channel| %>
            <%= link_to chatroom_path(channel[:room]), class: 'channel nav-link room-nav-link' do %>
                <div>
                    <%= channel[:user].full_name %>
                </div>

                <%end%>
                    <% end %>
    </nav>

    <% end %>