<div class="row">
    <div class="col-6 col-md-3">
        <%= render partial: 'rooms' %>
    </div>

    <div class="col">
        <%= render  "chatrooms/form", chatroom: @chatroom, message:@message %>
    </div>
</div>