<div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
        <%= render partial: 'rooms' %>
    </div>

    <div class="col-6">
        <% unless @chatroom.nil? %>
            <%= render  "chatrooms/form", chatroom: @chatroom, message:@message %>
                <%end%>
    </div>
</div>