<div class="ia2000-card animate__animated animate__zoomInDown animate__slower">
  <div class="ia2000-card-contenu">

      <h3>Trouver votre thérapie</h3>
        <div class="ia2000-card-contenu-link">
          <p>En répondant à une série de questions simples et compréhensibles, notre algorithme révolutionnaire vous trouve le spécialiste qui vous convient.</p>
          <%= link_to "Répondre à notre questionnaire", typeform_path, class: "button accept nav-link" %>
        </div>
  </div>
</div>

    <!-- https://getwaves.io/ -->

<div class="wave">
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgb(243,225,225)" fill-opacity="1" d="M0,256L120,250.7C240,245,480,235,720,245.3C960,256,1200,288,1320,304L1440,320L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</div>


