<div class="footer">
  <i class="fab fa-facebook-square white"></i>
  <i class="fab fa-linkedin white"></i>
  <i class="fab fa-twitter-square white"></i>
  <i class="fab fa-instagram-square white"></i>
</div>
