<div style="display: flex; align-items: flex-start;">
  <div class="doctors" style="flex-grow: 1; grid-template-columns: repeat(2, 1fr);">
    <% doctors.each do |doctor| %>
      <div><%= render 'components/card_doctor' , doctor: doctor %></div>
    <% end %>
  </div>

  <div id="grid-map" class="grid-map" data-markers="<%= markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" style="height: 90vh; width: 350px; flex-shrink: 0; margin-left: 20px; position: sticky; top: 20px;"></div>
</div>
