<div class="ia2000-right ">
  <div class="ia2000-right-contenu">
      <div class="ia2000-right-contenu-link">
        <p class="txt1">Vous êtes perdu ?</p>
        <p class="txt2">Nous pouvons vous aider à identifier les thérapies qui vous conviennent. </p>
        <!--  <p class="txt3">Répondez à notre questionnaire !</p> -->
        <%= link_to "Répondre à notre questionnaire", root_path, class: "button accept nav-link" %>
      </div>
  </div>

</div>
