<h1>Aubergine Kit</h1>
<%= link_to ".accept", "", class: "button accept", remote: true %>
<%= link_to ".cancel", "", class: "button cancel", remote: true %>
<br><br>
<h1>Colors</h1>
<h2>Red :</h2>
<div style="display: flex;">
  <div style="width: 200px; height: 200px; margin: 10px; text-align: center; color: black; background-color: #FF6B65;">$red</div>
  <div style="width: 200px; height: 200px; margin: 10px; text-align: center; color: black; background-color: #FFA09C;">$red-medium</div>
  <div style="width: 200px; height: 200px; margin: 10px; text-align: center; color: black; background-color: #FEB7B0;">$red-medium-2</div>
  <div style="width: 200px; height: 200px; margin: 10px; text-align: center; color: black; background-color: #FFAEAB;;">$red-medium-3</div>
  <div style="width: 200px; height: 200px; margin: 10px; text-align: center; color: black; background-color: #FFF0EF;">$red-light</div>
</div

<h2>purple :</h2>
<div style="display: flex;">
  <div style="width: 200px; height: 200px; margin: 10px; text-align: center; color: black; background-color: #322020;">$purple</div>
  <div style="width: 200px; height: 200px; margin: 10px; text-align: center; color: black; background-color: #704657;">$purple-medium</div>
  <div style="width: 200px; height: 200px; margin: 10px; text-align: center; color: black; background-color: #936F7D;">$purple-light</div>
</div>
<div>
</div>
