<h1>Aubergine Kit</h1>
<%= link_to ".accept", "", class: "button accept", remote: true %>
<%= link_to ".cancel", "", class: "button cancel", remote: true %>
<br><br>
<h1>Colors</h1>
<h2>Red :</h2>
<div style="display: flex;">
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $red;">$red</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $red-color;">$red-color</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $red-medium;">$red-medium</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $red-medium-2;">$red-medium-2</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $red-medium-3;">$red-medium-3</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $red-light;">$red-light</div>
</div>

<h2>purple :</h2>
<div style="display: flex;">
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $purple;">$purple</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $purple-color;">$purple-color</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $purple-medium;">$purple-medium</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $purple-medium-2;">$purple-medium-2</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $purple-medium-3;">$purple-medium-3</div>
  <div style="width: 200px;height: 200px; text-align: center; color: black; background-color $purple-light;">$purple-light</div>
</div>
