
<div class="row">
<div class="message-box col-12">
<h1>Ma séance </h1>
</div>
</div>
<div class="row">
<div class="col-12 chat-left grow-1">
    <%= render  "chatrooms/form", chatroom: @chatroom, message:@message %>
</div></div>