<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to ".accept", "", class: "button accept", remote: true %>
<%= link_to ".cancel", "", class: "button cancel", remote: true %>
