<div class="loader hidden">
  <div class="lds-heart"><div></div></div>
  <div class="lds-heart"><div></div></div>
  <div class="lds-heart"><div></div></div>
  <h2>Nous réfléchissons...</h2>
</div>

<div id="typeform"></div>

