<div class="loader hidden">
  <div class="lds-heart"><div></div></div>
  <div class="lds-heart"><div></div></div>
  <div class="lds-heart"><div></div></div>
  <h2>On réfléchit ...</h2>
</div>

<div id="typeform"></div>

