// ANNIMATIONS
// -----------
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animate($name, $duration, $iteration, $direction) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
    -moz-animation-iteration-count: $iteration;
    -o-animation-iteration-count: $iteration;
    animation-iteration-count: $iteration;
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
    -webkit-animation-direction: $direction;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    animation-direction: $direction;
}

@include keyframes(bubble) {
    from {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    to {
        width: 400px;
        height: 400px;
        opacity: 0.5;
    }
}

@mixin bubble {
    @include animate(bubble, .8s, 1, linear);
}

// CSS DES BOUTTONS
// ----------------
// le .button est utilisé dans le JS /!\
.button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 12px 36px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    transition: ease .3s;
}

.accept {
    background: linear-gradient(90deg, $red 0%, $red-medium 100%);
    color: white;
    &:hover {
        color: $red;
        text-decoration: none;
        box-shadow: 0px 0px 0px 2px $red inset;
        border-radius: 4px;
        background: linear-gradient(90deg, $red-medium-2 0%, $red-light 100%), $red-medium-2;
    }
}

.cancel {
    background: linear-gradient(90deg, $purple-medium 0%, $purple-light 100%);
    color: white;
    &:hover {
        color: $purple;
        text-decoration: none;
        box-shadow: 0px 0px 0px 2px $purple-light inset;
        border-radius: 4px;
        background: linear-gradient(90deg, $purple-light 0%, $red-light 100%);
    }
}
.inactive {
    background: linear-gradient(90deg, $red-light 0%, $red-light 100%);
    color: $purple-light;
    &:hover {
        color: $purple;
        text-decoration: none;
        box-shadow: 0px 0px 0px 2px $red-medium-2 inset;
        border-radius: 4px;
        background: linear-gradient(90deg, $red-medium-2 0%, $red-medium-2 100%);
    }
}

span {
    position: absolute;
    background-color: white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    @include bubble;
}
