.footer {
  width: 100%;

  max-height: 100%;
  background-color: $red-bg;
  text-align: center;
  padding: 12px 12px;
  position: absolute;
  bottom: 0;


  a {
    color: black;
  }
// A propost de ma secance + Font Awsome
.footer-top {
  display: flex;
  justify-content: center;

  .footer-top-a-propos {
    color: black;
    font-size: 14px;
    padding-right: 30px;

    p {
      margin-bottom: 0;
    }
  }

  .footer-top-socialmedia {
    padding-top: 8px;
    padding-left: 30px;
    vertical-align: middle;

 // font Awsome
   i.fab {
    vertical-align: middle;
    font-size: 30px;
    padding: 0 8px;
    color: rgba(0,0,0,1) ;
    transition: 0.2s
   }
    i.fab:hover {
      color: $red-medium;
    }
   }
  }
    // Ligne de séparation
    .separation {
      background-color: #black;
      opacity: 0.5;
      height: 1px;
      margin: 5px 250px;
    }
    // copyright-conditions d'utilisation
    .footer-condition-utilisation {
      color: black;
      font-size: 11px;
      p {
        font-weight: normal;
        margin-bottom: 0;
      }
    }
}
