.footer {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: $red-medium-2;
  text-align: center;
  padding: 5px 5px;

   .white {
    color: white;
   }

   .fab {
    font-size: 24px;
    padding: 0 5px;
   }
}
