.navbar {
    background: $red-bg;
    //background-color: transparent;
    padding: 0px 0px;


    display: flex;
    justify-content: center;
    align-items: flex-center;
    height: 70px;



//background-color: transparent;
    transition: 0.5s background-color ease;


  .navbar-title {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;
    color: black;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
    font-size: 36px;
    font-weight: regular;
    text-decoration: none;

  }




}


.navbar-transparent {
  background-color: transparent;
}

.navbar-logo > img {
  height: 55px;
}

.navbar .nav-item .nav-link {
    width: 160px;
    padding: 8px 36px;
    text-align: center;
}

.dropdown-menu-nav {
    padding: 0em;
    border: 0em;
}
