.navbar {
    background: $red-bg;
    padding: 0.5rem 0.5rem;
}

.navbar .nav-item .nav-link {
    width: 160px;
    padding: 8px 36px;
    text-align: center;
}

.dropdown-menu-nav {
    padding: 0em;
    border: 0em;
}