.navbar {
    // background: $red-bg;
    //background-color: transparent;
    padding: 2px 16px;


    display: flex;
    justify-content: center;
    align-items: flex-center;
    height: 0px;



  .div-navbar-title {

    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: -75px;
    padding-top: 26px;

  }


    // transition: 0.5s background-color ease;


  .navbar-title {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;
    color: white;
    // text-shadow: 1px 3px 3px rgba(0,0,0,.3);
    text-shadow: 0px 2px 5px rgba(255,255,255,.9);
    font-size: 40px;
    font-weight: regular;
    text-decoration: none;
    transition: 2s opacity ease;


  }
}

.navbar-svg {
  transition: 0.8s opacity ease;
}

.navbar-transparent {
  opacity: 0;
}

.navbar-logo > img {
  height: 55px;
  // box-shadow: 3px 3px 55px rgba(0,0,0,0.1);

}

.navbar .nav-item .nav-link {
    width: 160px;
    padding: 8px 36px;
    text-align: center;
}

.dropdown-menu-nav {
    padding: 0em;
    border: 0em;
}
